@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(240, 232, 222);
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.topbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.inputbox {
  width: 45em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputbox input[type="text"] {
  width: 80%;
  height: 90%;
  outline: none;
  background-color: transparent;
  border: 3px solid rgba(107, 107, 105, 0.527);
  border-radius: 20px;
  padding: 0px 20px;
}
#search {
  font-size: 1.4em;
}
.premium {
  background-image: linear-gradient(150deg, orange, red);
  padding: 7px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
}

.darkmode p{
  font-size: 1.5em;
}
.logo {
  overflow: hidden;
  height: 3.5rem;
}
.logo img {
  height: inherit;
}


.img-container {
  display: flex;
  height: inherit;
  transition: transform 300ms ease-in-out;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative; 
  width: 900px;
  height: 30em;
}

.img-container {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.slider::before {
  content: "This year popular \A Artist";
  background-color: #1a1919a1;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  font-family: sans-serif;
  white-space: pre;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slider:hover::before {
  visibility: visible;
  opacity: 1;
}
.col h2{
  font-family: sans-serif;
  font-weight: 800;
  font-size: 2em;
}
.English {
  padding: 0px 40px;
  position: relative;
}
.Hindi,.lofi,.punjabi{
  padding: 0px 40px;
  margin-top: 80px;
  position: relative;
}

.card {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 30px;
  transition: transform 0.5s ease;
}
.carousel {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}
.card li {
  height: 18em;
  width: 18em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  border: none;
  color: white;
  font-size: 1em;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 100%;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.card .image {
  width: 15em;
  border-radius: 10px;
  height: 15em;
  overflow: hidden;
}
.image img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  object-fit: cover;
}

/* css for music player */

.music-player {
  --secondary-color: #f34f4f;
  --green-color: #2d5;
  --padding: 1em;
  background-color: rgb(240, 232, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999999;
  height: 6rem;
  padding: var(--padding);
  color: var(--primary-color);
}
i{
  color: var(--secondary-color);
}
i:hover{
  color: var(--primary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist{
  color: var(--secondary-color);
}
.icons{
  display: flex;
  gap: 1em;
}
.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: var(--secondary-color);
}
.control-buttons{
  display: flex;
  align-items: center;
  gap: 2em;
}
.play-pause{
  display: inline-block;
  color: var(--secondary-color);
  border-radius: 50%;
  font-size: 2em;
}
.play-pause:hover{
  color: var(--green-color);
}
.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar{
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.651);
}
.progress{
  position: relative;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
  background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}
.other-features{
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}
.progress-volume{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.volume-bar .progress-bar{
  width: 6em;
  background: rgba(0, 0, 0, 0.651);
}
.progress-volume:hover{
  background: var(--green-color);
}
.volume-bar .progress-bar:hover .progress-volume::after{
  --size: .8em;
}